
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @RenderSection("scripts", required: false)
}
<div class="container">
    <div class="row">

        <!-- start of page content -->
        @RenderBody();
        <!-- end of page content -->
        <!-- start of sidebar -->
        @await Component.InvokeAsync("SideBar")
        <!-- end of sidebar -->
    </div>
</div>

